*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
rxscheduler/libs/
rxscheduler/src/main/res/drawable/
rxsubscription/libs/
rxsubscription/src/main/res/drawable/
